/* Empty. Add your own CSS if you like */
body{
    font-family: 'Patrick Hand', cursive !important; 
}
.splash{
    width:100%;
    height:100%;
}
.splash-image{
    margin-top: 20vw;
    width: 100px;
    border: 1px solid transparent;
    border-radius:100%;
}
.splash-container{
    top: 20vw;
    left: 17vw;
    text-align: center;
    position: fixed;
}
.splash-container p{
    margin-top: 5px;
    font-size:20px;
}    
.form{
    margin-top:30%;
}
.login{
    border: none;
    left:3%; 
    border-radius: 0;
    width: 94%; 
}
select,option{
    font-weight: bold;
    font-family: 'Patrick Hand', cursive !important;   
}
.title{
    font-family: 'Patrick Hand', cursive !important;   
}
